body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}
ul {
  list-style: none;
}
.web1 {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #2196f3;
}

.web2 {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.mainnav {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: inherit;
}

.mainnav:hover {
  color: #2196f3;
}
.mainnav:focus {
  color: #2196f3;
}
.number {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;

  color: inherit;
}
.mail {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;

  color: #757575;
}
.address {
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.number:hover {
  color: #2196f3;
}
.mail:hover {
  color: #2196f3;
}
.mainmsg {
  font-family: inherit;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
